{% extends 'home.html' %}
{% load static %}
{% block content %}
 <style>
    .ann {
        border: 1px solid;
        border-color: #48c6bc;
        margin-top: 7%;
        margin-left: 40%;
        padding: 20px;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: #e6e7ee;
        box-shadow: inset 6px 6px 10px #b8b9be, inset -6px -6px 10px white;
    }
 </style>

<div class="container head">
    <h4 class="an">Lung Cancer Detection App</h4>
  
  
  
    <p class="headp"> 


        The aim of the application is to predict Lung cancer type by taking input as CT image of lungs.
        The App uses VGG16 CNN Model to predict the cancer type.



    </p>



    <h4 class="an">Outcomes</h4>
  
  
  
  

        <p class="ann">
            ⭐ Adenocarcinoma<br>
    
            ⭐ Squamous Cell Carcinoma <br>
            ⭐ No Cancer Cell Detected
    
    
        </p>
    


  
  
  
  
  </div>

{% endblock %}